body { background-color: lightblue;}
.white-text{color:white;}
.center-text{text-align: center;}
.center-image {text-align: center;}
.center-image img {display: inline-block;}
.image-border img 
{
    border: 5px solid #6600ff; /* Black border with 5px width */
    border-radius: 10px; /* Rounded corners */
}
.text-font{font-family:fantasy;}

.colorCycle
{
    background-color:red;
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes colorChange
{
    0%{background-color:red;}
    20%{background-color:orange;}
    40%{background-color:yellow;}
    60%{background-color:green;}
    80%{background-color:blue;}
    100%{background-color:purple;}
}
